mysql:
  user: admin
  password: secret
  databases:
    - homestead

postgresql:
  user: admin
  password: secret
  databases:
    - homestead

elasticsearch: 6.5.4

minio:
  access_key: AKIAIOSFODNN7EXAMPLE
  secret_key: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

cloud9:
  username: homestead
  password: secret

php:
  - 7.2.13

sites:
  - map: homestead.io
    to: /home/brexis/code/homestead
    php: "7.2.13"
